#abblogo {
    width: 200px;
    margin-top: 10px;

}

.nav-choice {
    margin-right: -70px;
}

#jumbo_logo {
    width: 60%;
}

a.darken {
    display: inline-block;
    background: black;
    padding: 0;
}

a.darken img {
    display: block;

    -webkit-transition: all 0.05s linear;
    -moz-transition: all 0.05s linear;
    -ms-transition: all 0.05s linear;
    -o-transition: all 0.05s linear;
    transition: all 0.05s linear;
}

a.darken:hover img {
    opacity: 0.8;

}

.som{
    margin-right: 35px;
}