#abblogo {
    width: 200px;
    margin-top: 10px;

}

.nav-choice {
    margin-right: -70px;
}

#jumbo_logo {
    width: 60%;
}

a.darken {
    display: inline-block;
    background: black;
    padding: 0;
}

a.darken img {
    display: block;

    -webkit-transition: all 0.05s linear;
    -moz-transition: all 0.05s linear;
    -ms-transition: all 0.05s linear;
    -o-transition: all 0.05s linear;
    transition: all 0.05s linear;
}

a.darken:hover img {
    opacity: 0.8;

}

.som {
    margin-right: 35px;
}

.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */

    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

/*
    Multicoloured Hover Variations
*/

#social-fb, #social-yt,  #social-ig {
    color: white;
}

#social-fb:hover {
    color: #3B5998;
}

#social-yt:hover {
    color: #d34836;
}

#social-ig:hover {
    color: #f39c12;
}