/* Fades color when changing theme*/
body nav {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.navbar {
    background-color: transparent;
    background: transparent;
    border-color: transparent;
}

.aboutMe {
    background: #EDF2F4 no-repeat top center fixed;
    width: 100%;
    padding-bottom: 120px;
    padding-top: 120px;
    color: black;

}

.myBackground {
    background: #F7F7FF no-repeat top center fixed;
    width: 100%;
    padding: 40px;
    color: black;

}

.myProjects {
    background: #EDF2F4 no-repeat top center fixed;
    width: 100%;
    padding: 40px;
}

body {
    font-family: 'Raleway', sans-serif;
}

.FA {
    color: white;
}

.bottomFooter {
    margin-top: -20px;
    padding-top: 7px;
    background: #08090A;
}

.title {
    font-size: 15px;
}

.split-para {
    display: block;
}

.split-para span {
    float: right;

}

.greeting {
    font-size: 20px;
}

#csula_logo {
    margin-top: 20px;
    width: 8%;
    height: auto;
    color: white;
}

#jpl_logo {
    margin-top: 20px;
    width: 30%;
    white-space: nowrap;
}

#directStem {
    margin-top: 20px;
    width: 9%;
}

#navsea {
    width: 15%;
}

#me {
    margin-top: -40px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    width: 150px;
    height: 150px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);

}

@media all and (max-width: 1200px) {
    /* screen size until 1200px */
}

@media all and (max-width: 1000px) {
    /* screen size until 1000px */

}

@media all and (max-width: 500px) {
    /* screen size until 500px */
    #csula_logo {
        width: 20%; /* 1.5x default size */
    }

    #jpl_logo {
        width: 65%; /* 1.5x default size */
    }

    #directStem {
        width: 20%;
    }

    #navsea {
        width: 30%;
    }
}

.projectImgs {
    width: 100%;
}

.modal {
    color: black;
}

.thumbnails img {
    height: 50px;
    width: 50px;
    margin: 0 10px 10px 0;
    border: 2px solid black;

}

.thumbnails img:hover {
    cursor: pointer;
    border: 2px solid red;
}

.preview img {
    width: 100%;
    border: 2px solid black;
    background-color: black;

}

.preview2 img {
    width: 100%;
    border: 2px solid black;
    background-color: black;

}

.preview3 img {
    width: 100%;
    border: 2px solid black;
    background-color: black;

}

.image img {
    -webkit-transition: all .5s ease; /* Safari and Chrome */
    -moz-transition: all .5s ease; /* Firefox */
    -ms-transition: all .5s ease; /* IE 9 */
    -o-transition: all .5s ease; /* Opera */
    transition: all .5s ease;
}

.image:hover img {
    -webkit-transform: scale(1.15); /* Safari and Chrome */
    -moz-transform: scale(1.15); /* Firefox */
    -ms-transform: scale(1.15); /* IE 9 */
    -o-transform: scale(1.15); /* Opera */
    transform: scale(1.15);
}
