/* Fades color when changing theme*/
body nav {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.navbar {
    background-color: transparent;
    background: transparent;
    border-color: transparent;
}

.aboutMe {
    background: #C5D5EA no-repeat top center fixed;
    width: 100%;
    padding-bottom: 150px;
    padding-top: 120px;
    color: black;

}

.myBackground {
    background: #F7F7FF no-repeat top center fixed;
    width: 100%;
    padding: 40px;
    color: black;

}

.myProjects {
    background: #ADADB2 no-repeat top center fixed;
    width: 100%;
    padding: 40px;
}

body {
    font-family: 'Raleway', sans-serif;
    color: white;
}

.FA {
    color: white;
}

.bottomFooter {
    margin-top: -20px;
    padding-top: 7px;
    background: #08090A;
}

.title {
    font-size: 15px;
}

.split-para {
    display: block;
}

.split-para span {
    float: right;

}

.greeting {
    font-size: 20px;
}

#csula_logo {
    margin-top: 20px;
    width: 9%;
    color: white;
}

#jpl_logo {
    margin-top: 20px;
    width: 30%;
    white-space: nowrap;
}

#directStem {
    margin-top: 20px;
    width: 9%;
}

#navsea {
    width: 15%;
}

@media all and (max-width: 1200px) {
    /* screen size until 1200px */
    h3 {
        font-size: 1.3em; /* 1.5x default size */
    }
}

@media all and (max-width: 1000px) {
    /* screen size until 1000px */
    h3 {
        font-size: 1.0em; /* 1.2x default size */
    }
}

@media all and (max-width: 500px) {
    /* screen size until 500px */
    h3 {
        font-size: 0.6em; /* 0.8x default size */
    }
}

#me {
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    border-width: thick;
    border-color: black;
    width: 130px;
    height: 130px;
}

.background-title {
    font-size: 19px;
}
